<style>

label
 {
 color:blue;
 }
</style>

			<div style="margin-left:100px;">

			<%#= image_tag @user.pic.url(:medium) %>
			<%#=link_to 'delete',"user.pic.url" , :method=> :delete%>
<br><br><br><br><br><br><br><br>
			<%= image_tag @user.pic.url(:thumb) %>

			<h2>Personal Details</h2>
			</p>

			<%= form_for @user,:html => { :multipart => true } do |f| %>
			<%=f.label :pic %>
			<%=f.file_field :pic %>
			<%=f.submit :upload %>
			<%end%>

			<%= form_for(@user) do |f| %>
			<%= devise_error_messages! %>

			<div style="margin-left:0px;">


			</div>

  
<div>
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %>
  
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  </div>
  
  <div>
  <%= f.label :dob %><br />
  <%= f.text_field :dob %></div>
  <div>
  <%= f.label :sex %><br />
  <%= f.text_field :sex %></div>
  <div>
  <%= f.label :current_address %><br />
  <%= f.text_area :current_address, :rows => "2", :cols => "20" %></div>
  <div>
  <%= f.label :permanent_address %><br />
  <%= f.text_area :permanent_address, :rows => "2", :cols => "20" %></div>
<div>
  <%= f.label :educational_qualification %><br />
  <%= f.text_field :educational_qualification %></div>

<div>
  <%= f.label :date_of_joining %><br />
  <%= f.text_field :date_of_joining %></div>
<div>
  <%= f.label :date_of_leaving %><br />
  <%= f.text_field :date_of_leaving %></div>

<div>
  <%= f.label :designation %><br />
  <%= f.text_field :designation %></div>


<div>
  <%= f.label :marital_status %><br />
  <%= f.text_field :marital_status %></div>
  
  <div>
  <%= f.label :contact_number %><br />
  <%= f.text_field :contact_number %></div>

  <div>
  <%= f.label :email %><br />
  <%= f.email_field :email %></div>

  
<br><br>
  <div><%= f.button "Edit" %>
   <%= f.button "save" %></div>
<% end %>

<%#= render "devise/shared/links" %></div>
</p>
